<div class="container mx-auto h-full">
  <p class="font-bold py-3 rounded text-5xl text-center mb-4 bg-white dark:bg-gray-900">
    Guia de skills
  </p>

  <ul class="grid gap-2 grid-cols-1 sm:grid-cols-2">
    <li class="px-3 py-2 bg-green-300 hover:bg-green-400 text-green-800 font-bold m-2">
      <a [routerLink]="['farming']" class="flex items-center">
        <img class="h-9 w-9 cursor-pointer" src='assets/skills-icons/farming.png' alt="">
        Farming
      </a>
    </li>
    <li class="px-3 py-2 bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold m-2">
      <a [routerLink]="['mining']" class="flex items-center">
        <img class="h-9 w-9 cursor-pointer" src='assets/skills-icons/mining.png' alt="">
        Mining
      </a>
    </li>
    <li class="px-3 py-2 bg-blue-300 hover:bg-blue-400 text-blue-800 font-bold m-2">
      <a [routerLink]="['fishing']" class="flex items-center">
        <img class="h-9 w-9 cursor-pointer" src='assets/skills-icons/fishing.png' alt="">
        Fishing
      </a>
    </li>
    <li class="px-3 py-2 bg-yellow-500 hover:bg-yellow-600 text-yellow-900 font-bold m-2">
      <a [routerLink]="['woodcutting']" class="flex items-center">
        <img class="h-9 w-9 cursor-pointer" src='assets/skills-icons/woodcutting.png' alt="">
        Woodcutting
      </a>
    </li>
    <li class="px-3 py-2 bg-indigo-300 hover:bg-indigo-400 text-indigo-800 font-bold m-2">
      <a [routerLink]="['agility']" class="flex items-center">
        <img class="h-9 w-9 cursor-pointer" src='assets/skills-icons/agility.png' alt="">
        Agility
      </a>
    </li>
    <li class="px-3 py-2 bg-yellow-400 hover:bg-yellow-500 text-yellow-800 font-bold m-2">
      <a [routerLink]="['archaeology']" class="flex items-center">
        <img class="h-9 w-9 cursor-pointer" src='assets/skills-icons/archaeology.png' alt="">
        Archaeology
      </a>
    </li>
    <li class="px-3 py-2 bg-yellow-300 hover:bg-yellow-400 text-yellow-700 font-bold m-2">
      <a [routerLink]="['construction']" class="flex items-center">
        <img class="h-9 w-9 cursor-pointer" src='assets/skills-icons/construction.png' alt="">
        Construction
      </a>
    </li>
    <li class="px-3 py-2 bg-pink-300 hover:bg-pink-400 text-pink-700 font-bold m-2">
      <a [routerLink]="['cooking']" class="flex items-center">
        <img class="h-9 w-9 cursor-pointer" src='assets/skills-icons/cooking.png' alt="">
        Cooking
      </a>
    </li>
    <li class="px-3 py-2 bg-yellow-300 hover:bg-yellow-400 text-yellow-800 font-bold m-2">
      <a [routerLink]="['crafting']" class="flex items-center">
        <img class="h-9 w-9 cursor-pointer" src='assets/skills-icons/crafting.png' alt="">
        Crafting
      </a>
    </li>
    <li class="px-3 py-2 bg-blue-300 hover:bg-blue-400 text-blue-800 font-bold m-2">
      <a [routerLink]="['divination']" class="flex items-center">
        <img class="h-9 w-9 cursor-pointer" src='assets/skills-icons/divination.png' alt="">
        Divination
      </a>
    </li>
    <li class="px-3 py-2 bg-yellow-300 hover:bg-yellow-400 text-yellow-800 font-bold m-2">
      <a [routerLink]="['dungeoneering']" class="flex items-center">
        <img class="h-9 w-9 cursor-pointer" src='assets/skills-icons/dungeoneering.png' alt="">
        Dungeoneering
      </a>
    </li>
    <li class="px-3 py-2 bg-green-400 hover:bg-green-500 text-green-800 font-bold m-2">
      <a [routerLink]="['herblore']" class="flex items-center">
        <img class="h-9 w-9 cursor-pointer" src='assets/skills-icons/herblore.png' alt="">
        Herblore
      </a>
    </li>
    <li class="px-3 py-2 bg-yellow-500 hover:bg-yellow-600 text-yellow-800 font-bold m-2">
      <a [routerLink]="['firemaking']" class="flex items-center">
        <img class="h-9 w-9 cursor-pointer" src='assets/skills-icons/firemaking.png' alt="">
        Firemaking
      </a>
    </li>
    <li class="px-3 py-2 bg-green-300 hover:bg-green-400 text-green-800 font-bold m-2">
      <a [routerLink]="['fletching']" class="flex items-center">
        <img class="h-9 w-9 cursor-pointer" src='assets/skills-icons/fletching.png' alt="">
        Fletching
      </a>
    </li>
    <li class="px-3 py-2 bg-yellow-700 hover:bg-yellow-800 text-yellow-400 font-bold m-2">
      <a [routerLink]="['hunter']" class="flex items-center">
        <img class="h-9 w-9 cursor-pointer" src='assets/skills-icons/hunter.png' alt="">
        Hunter
      </a>
    </li>
    <li class="px-3 py-2 bg-yellow-300 hover:bg-yellow-400 text-yellow-800 font-bold m-2">
      <a [routerLink]="['invention']" class="flex items-center">
        <img class="h-9 w-9 cursor-pointer" src='assets/skills-icons/invention.png' alt="">
        Invention
      </a>
    </li>
    <li class="px-3 py-2 bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold m-2">
      <a [routerLink]="['runecrafting']" class="flex items-center">
        <img class="h-9 w-9 cursor-pointer" src='assets/skills-icons/runecrafting.png' alt="">
        Runecrafting
      </a>
    </li>
    <li class="px-3 py-2 bg-gray-600 hover:bg-gray-700 text-gray-300 font-bold m-2">
      <a [routerLink]="['slayer']" class="flex items-center">
        <img class="h-9 w-9 cursor-pointer" src='assets/skills-icons/slayer.png' alt="">
        Slayer
      </a>
    </li>
    <li class="px-3 py-2 bg-yellow-800 hover:bg-yellow-900 text-yellow-300 font-bold m-2">
      <a [routerLink]="['smithing']" class="flex items-center">
        <img class="h-9 w-9 cursor-pointer" src='assets/skills-icons/smithing.png' alt="">
        Smithing
      </a>
    </li>
    <li class="px-3 py-2 bg-pink-800 hover:bg-pink-900 text-pink-300 font-bold m-2">
      <a [routerLink]="['thieving']" class="flex items-center">
        <img class="h-9 w-9 cursor-pointer" src='assets/skills-icons/thieving.png' alt="">
        Thieving
      </a>
    </li>
  </ul>
</div>
