<div class="w-full bg-white dark:bg-gray-700 p-4 rounded-md mb-4">
  <div class="flex flex-col items-center space-x-2 mb-4 w-min sm:absolute text-center">
    <img class="h-9 w-9 cursor-pointer" src='assets/skills-icons/{{skill}}.png' alt="">
    <p class="font-bold px-2 py-1 rounded" [ngClass]="skillClasses">
      {{ skill }}
    </p>
  </div>
  <div class="text-center font-bold text-5xl mb-6">
    <h1>{{titulo}}</h1>
  </div>
  <div class="mb-8 flex justify-center">
    <img src="https://runescape.wiki/images/Elder_God_Wars_Dungeon-_The_TzekHaar_Front_%285%29_update_image.jpg?6a536" alt="">
  </div>
  <div class="space-y-3">
    <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum distinctio voluptates illo sint magni quod eius, eos similique asperiores, consequuntur ratione architecto facere veniam velit. Doloremque eveniet molestias ratione ipsum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium voluptas sed, dolor accusamus nemo labore nostrum explicabo! Maiores amet corrupti eveniet impedit praesentium repellat, obcaecati doloribus velit doloremque distinctio cumque! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora impedit fugiat quam quasi laudantium nostrum ipsam doloremque incidunt, nesciunt ipsum quisquam omnis! Maiores ipsa molestias eveniet mollitia quibusdam harum voluptatem. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae non sint expedita quos quis provident incidunt illum natus, perspiciatis harum libero reprehenderit saepe quidem similique nostrum minima esse nemo eius.</p>
    <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum distinctio voluptates illo sint magni quod eius, eos similique asperiores, consequuntur ratione architecto facere veniam velit. Doloremque eveniet molestias ratione ipsum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium voluptas sed, dolor accusamus nemo labore nostrum explicabo! Maiores amet corrupti eveniet impedit praesentium repellat, obcaecati doloribus velit doloremque distinctio cumque! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora impedit fugiat quam quasi laudantium nostrum ipsam doloremque incidunt, nesciunt ipsum quisquam omnis! Maiores ipsa molestias eveniet mollitia quibusdam harum voluptatem. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae non sint expedita quos quis provident incidunt illum natus, perspiciatis harum libero reprehenderit saepe quidem similique nostrum minima esse nemo eius.</p>
  </div>
</div>
