<div class="bg-white dark:bg-gray-900 text-black dark:text-gray-50 flex justify-between items-center px-4 py-2 fixed w-full">
  <div>
    <!-- <img class="h-9 w-9 cursor-pointer" src="assets/nv3-logo-v2.svg" alt=""> -->
  </div>
  <!-- <nav>
    <ul class="flex space-x-4">
      <li class="cursor-pointer">
        Home
      </li>
      <li>
        Membros
      </li>
      <li>
        Guias
      </li>
      <li>
        Parceiros
      </li>
    </ul>
  </nav> -->

  <div>
    <label for="theme-toggle">
      <input class="mr-2 w-4 h-4 border-solid border-current rounded border-8" id="theme-toggle" type="checkbox" name="theme-toggle" [checked]="darkChecked" (change)="toggleTheme()">
      <span class="text-lg font-bold">Dark?</span>
    </label>
  </div>
</div>
