<div class="bg-white dark:bg-gray-900 text-black dark:text-gray-50 flex justify-between items-center px-4 py-2 fixed w-full">
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-9 w-9 cursor-pointer" viewBox="0 0 233.5 185.49">
      <g>
        <polygon [attr.fill]="!darkChecked ? 'black' : 'white'" points="0,0 34.21,0 40.9,0 41.92,0 65.12,0 65.12,0 107.09,115.31 107.09,0 148,0 148,115.31 189.97,0 233.5,0 228.4,13.99 165.98,185.49 148,185.49 107.09,185.49 89.11,185.49 40.9,53.05 40.9,185.49 0,185.49 "/>
      </g>
    </svg>
  </div>
  <nav class="hidden sm:block">
    <ul class="flex space-x-4">
      <li class="cursor-pointer hover:font-bold">
        <a routerLink="">Home</a>
      </li>
      <li class="cursor-pointer hover:font-bold">
        <a href="#">Membros</a>
      </li>
      <li class="cursor-pointer hover:font-bold">
        <a routerLink="/habilidades">Guias</a>
      </li>
      <li class="cursor-pointer hover:font-bold">
        <a href="#">Parceiros</a>
      </li>
    </ul>
  </nav>
  <div class="sm:hidden">
    Menu
  </div>
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor" (click)="toggleTheme()">
      <path *ngIf="!darkChecked" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" />
      <path *ngIf="darkChecked" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
    </svg>
  </div>
</div>
