<div class="bg-white dark:bg-gray-900 text-black dark:text-gray-50 flex justify-between items-center px-4 py-2 fixed w-full shadow-sm">
  <a routerLink="/">
    <app-nv3-logo [darkChecked]="darkChecked"></app-nv3-logo>
  </a>
  <nav class="sm:block transition absolute top-0 sm:static shadow-lg sm:shadow-none">
    <ul class="flex flex-col p-2 sm:p-0 sm:flex-row h-screen sm:w-auto sm:h-auto fixed sm:top-0 sm:left-0 sm:relative bg-white pl-4 dark:bg-gray-900 duration-300 z-50 w-40"
      [ngClass]="{'left-0': menuOpen, '-left-full': !menuOpen}"
      (click)="menuOpen = !menuOpen"
    >
      <li class="sm:hidden mb-4">
        <a routerLink="/">
          <app-nv3-logo [darkChecked]="darkChecked"></app-nv3-logo>
        </a>
      </li>
      <li class="cursor-pointer hover:font-bold hover:bg-gray-100 dark:hover:bg-gray-800 px-2 py-1 mr-2">
        <a routerLink="">Home</a>
      </li>
      <li class="cursor-pointer hover:font-bold hover:bg-gray-100 dark:hover:bg-gray-800 px-2 py-1 mr-2">
        <a routerLink="/membros">Membros</a>
      </li>
      <li class="cursor-pointer hover:font-bold hover:bg-gray-100 dark:hover:bg-gray-800 px-2 py-1 mr-2">
        <a routerLink="/habilidades">Guias</a>
      </li>
      <li class="cursor-pointer hover:font-bold hover:bg-gray-100 dark:hover:bg-gray-800 px-2 py-1 mr-2">
        <a href="#">Parceiros</a>
      </li>
    </ul>
    <div class="w-screen h-screen bg-gray-400 bg-opacity-75 fixed top-0 left-0 z-40 sm:hidden" [ngClass]="{'hidden': !menuOpen}" (click)="menuOpen = !menuOpen">
    </div>
  </nav>
  <div class="sm:hidden cursor-pointer" (click)="menuOpen = !menuOpen">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
    </svg>
  </div>
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor" (click)="toggleTheme()">
      <path *ngIf="!darkChecked" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" />
      <path *ngIf="darkChecked" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
    </svg>
  </div>
</div>
