  <!-- <img src="https://cdn.runescape.com/assets/img/external/rotators/2021/10/Rotator_1920x560px_PT.png" alt=""> -->
<div class="bg-white dark:bg-gray-700 py-20">
  <!-- <img class="sm:h-64 sm:w-64 h-32 w-32 cursor-pointer" src="assets/nv3-logo-v2.svg" alt=""> -->
    <!-- <h1 class="text-5xl font-extrabold">Nivel 3</h1> -->
    <div class="container mx-auto px-2">
      <div>
        <h1 class="text-blue-800 dark:text-blue-300">Runescape</h1>
        <h1 class="text-4xl sm:text-6xl lg:text-7xl leading-none font-extrabold tracking-tight text-gray-900 dark:text-white mt-10 mb-8 sm:mt-14 sm:mb-10">Somos o maior clan de skillers do Runescape Brasil</h1>
      </div>
      <div>
        <img class="sm:h-40 sm:w-40 h-32 w-32 cursor-pointer" src="assets/nv3-logo-v2.svg" alt="">
      </div>
    </div>
</div>

<div class="mt-4">
  <div class="container mx-auto bg-white dark:bg-gray-900 p-5 shadow-md">
    <p class="text-lg sm:text-2xl sm:leading-10 font-medium mb-10 sm:mb-11">
      Ousadia, entusiasmo e comprometimento são características comuns dos Skillers, que decidiram unir experiências em busca de conquistas.</p>
  </div>
</div>

<div class="mt-4">
  <div class="container mx-auto bg-white dark:bg-gray-900 p-5 shadow-md">
    <p class="text-center">
      A trajetória do clã, idealizada por <span class="bg-yellow-500 rounded px-2 py-1 text-white">Nv3 Pai</span> , <span class="bg-yellow-500 rounded px-2 py-1 text-white">Nv3 Dread</span> e <span class="bg-yellow-500 rounded px-2 py-1 text-white">Nv3 Booth</span> é marcada pelo êxito. Conhecimento, ideias e persistência sustentados pelos fundadores estão enraizados no clã e ditam os caminhos vitoriosos pelos quais o clã trilha sua história. A essência destemida dos Skillers, dinâmica e grandiosa é a fonte que estamos mantendo funcionando até hoje.
    </p>
  </div>
</div>

<div class="mt-4">
  <div class="container mx-auto bg-white dark:bg-gray-900 p-5 shadow-md">
    <h1 class="mb-5 text-center text-3xl sm:text-5xl lg:text-6xl leading-none font-extrabold text-gray-900 tracking-tight dark:text-white">Ao se juntar a nós, você pode esperar:</h1>
    <ul class="grid grid-cols-2 md:grid-cols-4 gap-2 text-white">
      <li class="bg-green-500 inline-block px-3 py-2 rounded-md shadow-md">Fazer novos amigos</li>
      <li class="bg-red-500 inline-block px-3 py-2 rounded-md shadow-md">Converse em um servidor Discord ativo</li>
      <li class="bg-yellow-500 inline-block px-3 py-2 rounded-md shadow-md">Aumentar habilidades enquanto se diverte</li>
      <li class="bg-blue-500 inline-block px-3 py-2 rounded-md shadow-md">Desfrute dos eventos várias vezes por semana</li>
      <li class="bg-gray-500 inline-block px-3 py-2 rounded-md shadow-md">Faça parte de um clã em crescimento e bem organizado</li>
      <li class="bg-indigo-500 inline-block px-3 py-2 rounded-md shadow-md">Experimente a emoção de estar em um clã que está lá para você</li>
      <li class="bg-purple-500 inline-block px-3 py-2 rounded-md shadow-md">Desfrute de um sistema justo de ranking baseado apenas em sua atividade dentro do clã</li>
    </ul>
  </div>
</div>

<div class="mt-4">
  <div class="container mx-auto bg-white dark:bg-gray-900 p-5 shadow-md">
    <h1 class="text-3xl sm:text-5xl lg:text-6xl leading-none font-extrabold text-gray-900 tracking-tight mb-8 text-center dark:text-white">Sistema de Rank</h1>
    <p>
      Aqui no clã você pode desfrutar regularmente de uma variedade de eventos como: Dungeon, Distrações, Minigames, Premiações, bem como outros eventos da escolha de nossos membros!
    </p>
    <ul class="mb-4 space-y-2 dark:text-gray-800">
      <li class="bg-purple-100 px-3 py-2 rounded-md shadow-md">
        Cabo - 5m Xp
      </li>
      <li class="bg-purple-200 px-3 py-2 rounded-md shadow-md">
        Sargento - 35m Xp
      </li>
      <li class="bg-purple-300 px-3 py-2 rounded-md shadow-md">
        Tenente - 75m Xp
      </li>
      <li class="bg-purple-400 px-3 py-2 rounded-md shadow-md">
        Capitão - 150m Xp
      </li>
      <li class="bg-purple-500 px-3 py-2 rounded-md shadow-md">
        General - 250m Xp+ lvl 3 de Fidelidade
      </li>
      <li class="bg-yellow-500 px-3 py-2 rounded-md shadow-md">
        Administradores+ - Será levado em consideração ao comportamento, confiança, participação da Meta da Fortaleza e quantia de exp realizada dentro do clã, após uma reunião e votação será definido o rank.
      </li>
    </ul>
  </div>
</div>


<div class="mt-4">
  <div class="container mx-auto bg-white dark:bg-gray-900 p-5 shadow-md">
    <h1 class="mb-5 text-center text-3xl sm:text-5xl lg:text-6xl leading-none font-extrabold text-gray-900 tracking-tight">Regras</h1>
    <p class="mb-2">
      Por favor, reveja nossas regras do clã, elas são simples e estão no lugar para tornar as coisas mais agradáveis para todos.
    </p>
    <ul class="grid grid-cols-2 md:grid-cols-4 gap-2 text-white">
      <li class="bg-indigo-500 inline-block px-3 py-2 rounded-md shadow-md">Não aplicar nenhum tipo de golpe (lure, scam, hack)</li>
      <li class="bg-yellow-500 inline-block px-3 py-2 rounded-md shadow-md">Não implorar dinheiro.</li>
      <li class="bg-blue-500 inline-block px-3 py-2 rounded-md shadow-md">Respeitar todos os membros do clã</li>
      <li class="bg-green-500 inline-block px-3 py-2 rounded-md shadow-md">Evitar spam desnecessário no bate-papo do clã.</li>
    </ul>
  </div>
</div>

<div class="my-4"></div>
