  <!-- <img src="https://cdn.runescape.com/assets/img/external/rotators/2021/10/Rotator_1920x560px_PT.png" alt=""> -->
<div class="bg-white dark:bg-gray-700 h-96 py-20">
  <!-- <img class="sm:h-64 sm:w-64 h-32 w-32 cursor-pointer" src="assets/nv3-logo-v2.svg" alt=""> -->
    <!-- <h1 class="text-5xl font-extrabold">Nivel 3</h1> -->
    <div class="container mx-auto">
      <div>
        <h1>Runescape</h1>
        <h1 class="text-4xl">Somos o maior clan de skillers do Runescape Brasil</h1>
      </div>
      <div>
        <img class="sm:h-40 sm:w-40 h-32 w-32 cursor-pointer" src="assets/nv3-logo-v2.svg" alt="">
      </div>
    </div>
</div>
  <!-- <h1>
    em breve...
  </h1> -->
