  <!-- <img src="https://cdn.runescape.com/assets/img/external/rotators/2021/10/Rotator_1920x560px_PT.png" alt=""> -->
<div id="party" class="bg-white dark:bg-gray-700 pb-20 bg-cover bg-center">
  <!-- <div class="bg-yellow-500 py-1 text-white dark:text-gray-800">
    <h1 class="uppercase text-center sm:text-2xl"><span class="font-extrabold">Atenção:</span> 22/11/21 Começa a caça do Phat dourado</h1>
  </div> -->
  <div class="container mx-auto px-2">
    <div>
      <h1 class="text-blue-800 dark:text-blue-300">Runescape</h1>
      <h1 class="text-4xl sm:text-6xl lg:text-7xl leading-none font-extrabold tracking-tight text-gray-900 dark:text-white mt-10 mb-8 sm:mt-14 sm:mb-10">Somos o maior clan de skillers do Runescape Brasil</h1>
    </div>
    <div>
      <img class="sm:h-40 sm:w-40 h-32 w-32 cursor-pointer" src="assets/nv3-logo-v2.svg" alt="">
      <span class="text-3xl">Nivel 3</span>
    </div>
  </div>
</div>

<!-- <div class="container mx-auto px-2 bg-yellow-500 py-4 text-white dark:text-gray-800 mt-4 rounded-md">
  <h1 class="uppercase text-center sm:text-2xl"><span class="font-extrabold">Atenção:</span> 22/11/21 Começa a caça do Phat dourado</h1>
</div> -->

<div class="mt-4">
  <div class="container mx-auto bg-white dark:bg-gray-900 p-5 shadow-md">
    <p class="text-lg sm:text-2xl sm:leading-10 font-medium mb-10 sm:mb-11">
      Ousadia, entusiasmo e comprometimento são características comuns dos Skillers, que decidiram unir experiências em busca de conquistas.
    </p>
  </div>
</div>

<div class="mt-4">
  <div class="container mx-auto bg-white dark:bg-gray-900 p-5 shadow-md">
    <p class="text-center">
      A trajetória do clã, idealizada por <span class="bg-yellow-500 rounded px-2 py-1 text-white">Nv3 Pai</span> , <span class="bg-yellow-500 rounded px-2 py-1 text-white">Nv3 Dread</span> e <span class="bg-yellow-500 rounded px-2 py-1 text-white">Nv3 Booth</span> é marcada pelo êxito. Conhecimento, ideias e persistência sustentados pelos fundadores estão enraizados no clã e ditam os caminhos vitoriosos pelos quais o clã trilha sua história. A essência destemida dos Skillers, dinâmica e grandiosa é a fonte que estamos mantendo funcionando até hoje.
    </p>
  </div>
</div>

<div class="mt-4">
  <div class="container mx-auto bg-white dark:bg-gray-900 p-5 shadow-md">
    <h1 class="mb-8 text-center text-3xl sm:text-5xl lg:text-6xl leading-none font-extrabold tracking-tight">Ao se juntar a nós, você pode esperar:</h1>
    <ul class="grid grid-cols-2 md:grid-cols-4 gap-2">
      <li class="border-l-8 border-green-500 inline-block px-3 py-2 rounded-md shadow-md bg-white dark:bg-gray-700">Fazer novos amigos</li>
      <li class="border-l-8 border-red-500 inline-block px-3 py-2 rounded-md shadow-md bg-white dark:bg-gray-700">Converse em um servidor Discord ativo</li>
      <li class="border-l-8 border-yellow-500 inline-block px-3 py-2 rounded-md shadow-md bg-white dark:bg-gray-700">Aumentar habilidades enquanto se diverte</li>
      <li class="border-l-8 border-blue-500 inline-block px-3 py-2 rounded-md shadow-md bg-white dark:bg-gray-700">Desfrute dos eventos várias vezes por semana</li>
      <li class="border-l-8 border-gray-500 inline-block px-3 py-2 rounded-md shadow-md bg-white dark:bg-gray-700">Faça parte de um clã em crescimento e bem organizado</li>
      <li class="border-l-8 border-indigo-500 inline-block px-3 py-2 rounded-md shadow-md bg-white dark:bg-gray-700">Experimente a emoção de estar em um clã que está lá para você</li>
      <li class="border-l-8 border-purple-500 inline-block px-3 py-2 rounded-md shadow-md bg-white dark:bg-gray-700">Desfrute de um sistema justo de ranking baseado apenas em sua atividade dentro do clã</li>
    </ul>
  </div>
</div>

<div class="mt-4">
  <div class="container mx-auto bg-white dark:bg-gray-900 p-5 shadow-md">
    <h1 class="text-3xl sm:text-5xl lg:text-6xl leading-none font-extrabold text-gray-900 tracking-tight mb-8 text-center dark:text-white">Sistema de Rank</h1>
    <p>
      Aqui no clã você pode desfrutar regularmente de uma variedade de eventos como: Dungeon, Distrações, Minigames, Premiações, bem como outros eventos da escolha de nossos membros!
    </p>
    <ul class="mb-4 space-y-2">
      <li class="border-l-8 border-purple-100 px-3 py-2 rounded-md shadow-md bg-white dark:bg-gray-700">
        Cabo - 5m Xp
      </li>
      <li class="border-l-8 border-purple-200 px-3 py-2 rounded-md shadow-md bg-white dark:bg-gray-700">
        Sargento - 35m Xp
      </li>
      <li class="border-l-8 border-purple-300 px-3 py-2 rounded-md shadow-md bg-white dark:bg-gray-700">
        Tenente - 75m Xp
      </li>
      <li class="border-l-8 border-purple-400 px-3 py-2 rounded-md shadow-md bg-white dark:bg-gray-700">
        Capitão - 150m Xp
      </li>
      <li class="border-l-8 border-purple-500 px-3 py-2 rounded-md shadow-md bg-white dark:bg-gray-700">
        General - 250m Xp+ lvl 3 de Fidelidade
      </li>
      <li class="border-l-8 border-yellow-500 px-3 py-2 rounded-md shadow-md bg-white dark:bg-gray-700">
        Administradores+ - Será levado em consideração ao comportamento, confiança, participação da Meta da Fortaleza e quantia de exp realizada dentro do clã, após uma reunião e votação será definido o rank.
      </li>
    </ul>
  </div>
</div>


<div class="mt-4">
  <div class="container mx-auto bg-white dark:bg-gray-900 p-5 shadow-md">
    <h1 class="mb-8 text-center text-3xl sm:text-5xl lg:text-6xl leading-none font-extrabold tracking-tight">Regras</h1>
    <p class="mb-2">
      Por favor, reveja nossas regras do clã, elas são simples e estão no lugar para tornar as coisas mais agradáveis para todos.
    </p>
    <ul class="grid grid-cols-2 md:grid-cols-4 gap-2">
      <li class="border-l-8 border-indigo-500 inline-block px-3 py-2 rounded-md shadow-md bg-white dark:bg-gray-700">Não aplicar nenhum tipo de golpe (lure, scam, hack)</li>
      <li class="border-l-8 border-yellow-500 inline-block px-3 py-2 rounded-md shadow-md bg-white dark:bg-gray-700">Não implorar dinheiro.</li>
      <li class="border-l-8 border-blue-500 inline-block px-3 py-2 rounded-md shadow-md bg-white dark:bg-gray-700">Respeitar todos os membros do clã</li>
      <li class="border-l-8 border-green-500 inline-block px-3 py-2 rounded-md shadow-md bg-white dark:bg-gray-700">Evitar spam desnecessário no bate-papo do clã.</li>
    </ul>
  </div>
</div>

<div class="my-4"></div>
