.custom-loader {
  width:100px;
  height:100px;
  border-radius:50%;
  border:16px solid;
  border-color:#ffffff #00800b;
  animation:s1 1s infinite;
}

@keyframes s1 {
  to{
    transform: rotate(.5turn)
  }
}

